USE [master]
GO
/****** Object:  Database [contactDb]    Script Date: 4/30/2015 12:05:14 PM ******/
CREATE DATABASE [contactDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'contactDb', FILENAME = N'F:\ContactNoApp\Db\contactDb.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'contactDb_log', FILENAME = N'F:\ContactNoApp\Db\contactDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [contactDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [contactDb]
GO
/****** Object:  Table [dbo].[tbl_phone_book]    Script Date: 4/30/2015 12:05:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_phone_book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](10) NOT NULL,
	[mobileNo] [varchar](20) NOT NULL,
	[details] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_phone_book] ON 

INSERT [dbo].[tbl_phone_book] ([id], [name], [mobileNo], [details]) VALUES (1, N'Saddam', N'01718694314', N'Engineer')
INSERT [dbo].[tbl_phone_book] ([id], [name], [mobileNo], [details]) VALUES (2, N'Babu', N'01727069329', N'Engineer')
SET IDENTITY_INSERT [dbo].[tbl_phone_book] OFF
USE [master]
GO
